@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
}
.swiper-button-next {
  color: black;
}
.swiper-button-prev {
  color: black;
}

.swiper-pagination-bullet-active {
  background-color: #6100ff;
}
